@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  font-family: "Oswald", sans-serif;
}
p {
  font-size: 17px;
}
.main {
  height: auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding: 15px;
  height: 100vh;
}
.button button {
  border: 3px #f2e205 solid;
  border-radius: 15px;
  background-color: #f2b33d;
}
.button button:hover {
  background-color: #f2e205;
}
.title {
  text-align: center;
  font-size: 45px;
  color: #f2b33d;
}
.imag {
  height: 25%;
}
.info span {
  font-size: 20px;
}
.author {
  font-size: 25px;
}
.button button a {
  color: #000;
  text-decoration: none;
}

.menu {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: center;
  margin-top: 0px;
  font-size: 30px;
  background-color: #f2e205;
  padding: 0 15px;
}
.Title a {
  font-size: 35px;
  font-family: "Bebas Neue", cursiv;
}

#navbarSupportedContent ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
#navbarSupportedContent ul > li:hover {
  border: #f2b33d solid 2px;
  background-color: #f2b33d;
}
#navbarSupportedContent ul > li {
  width: 80%;
  border: #f2b33d solid 2px;
  margin-right: 25px;
}
#navbarSupportedContent ul > li > a {
  text-align: center;
  font-size: 30px;
}
